manifest {
  name = 'test'
  description = 'The CCDM test module'
  author = 'Bioinformatics team at CCDM; curated by Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v0.0.1"
}

params.custom_config_base = "."

includeConfig("nfcore_custom.config")
includeConfig("conf/modules.config")
includeConfig("conf/params.config")
includeConfig("conf/workflows.config")

// specify here parameters for individual files
if (params.tool == "loose") {
      includeConfig("conf/params/loose.config")
}


process {
    // ALL PROCESSES
    cache        = true
    scratch      = false
    stageInMode  = 'symlink'
    stageOutMode = 'rsync'

    // DEFAULT RESOURCES
    max_cpus         = 8
    memory           = '4.GB'
    max_memory       = '8.GB'
    
    // SPECIFIC RESOURCES
    withLabel: 'small_task' {
	cpus = { check_max( 32 * task.attempt, 'cpus' ) }
        memory = { check_max( 50.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
    }

    withLabel: 'medium_task' {
	cpus = { check_max( 64 * task.attempt, 'cpus' ) }
        memory = { check_max( 100.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
    }

    withLabel: 'big_task' {
	cpus = { check_max( 64 * task.attempt, 'cpus' ) }
        memory = { check_max( 160.GB * task.attempt, 'memory' ) }
        time = { check_max( 24.h * task.attempt, 'time' ) }
    }

}

plugins {

  id 'nf-validation'
}

params {

	enable_conda       = false
	
	//Input parameters list
	help               = null
	tool               = ''  //This can be ST (StringTie2) or IQ (IsoQuant)

	outputdir          = './output' //Output directory by deafult is at the project directory
	out         = 'outputAnnotation' //Name of final output files- user can change this

	genome             = '' //User input genome fasta
	nanopore_reads     = '' //User input nanopore read fastq files
	nanopore_type      = 'dRNA' //User input dRNA or cDNA based on nanopore sequencing

	technical_seq      = "$projectDir/data/sequencing_artifacts/*.fa"
	contamination      = '' // (OPTIONAL) User input directory with contaminant files
	ref_annotation     = '' // (OPTIONAL) User input species reference annotation file e.g. GTF file from another genotype

	INPUT_FTP          ='https://ftp.ncbi.nlm.nih.gov/refseq/release/plastid/'
	adapters           = "$projectDir/data/adapters.txt"

	chopper_quality    = '10' //Phred score deafult 10
	chopper_length     = '100' //Minimum length deafult 100

}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
