process {
	// all processes
	publishDir = [
		path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
		mode: 'copy',
		saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
		]

	// specific processes
	//withName: 'FASTQC' {
	//	publishDir = [
	//		path: "${params.outputdir}/fastq_out",
	//		mode: 'copy'
	//	]
	modules {
		'test_fastqc'{
			args = ""
			publish_dir = "fastqc/"
		}	
        }
}
