params {

workflows {
        // Named Workflows 
        'test_fastqc' {
            description = "Small test for fastqc"
            includes = ["test_fastqc"]
            is_workflow = true
            modules = ["test_fastqc"]
        }
	// Named Subworkflow
	'test_fastqc' {
            description = "Process paired end reads for QC"
            ext = "fastq"
            modules = ["test_fastqc"]
        }
        // Modules (houses params.json and params.config, where applicable can be subworkflow)
        // local
        'test_fastqc' {
            path = "modules/local/test_fastqc"
        }

	// nf-core/modules - example
	//'blastn' {
        //    description = "Search against nucleotide BLAST databases using nucleotide queries"
        //    ext = "blastdb"
        //    path = "modules/nf-core/blast/blastn"
        //}

     }
}
